/[Ll]ibrary/
/[Tt]emp/
[Oo]bj/
[Bb]uild/
/[Ll]ogs/
/[Bb]uilds/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]sset[Tt]ore[Tt]ools*/
/.vs/
/.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.unityproj
.DS_Store
Thumbs.db
